%body
  .main__header
    .main__header--title
      .main__header--title-name
        %h1 タイケツ
    .main__header--body
      .main__header--body-text いつも宿敵、ライバルとして憎み合い、争いあう二人。<br/>たまには言いたいことを遠慮なく吐き出してみませんか？

      .main__header--body-detail 
        %a.button{:href => "http://localhost:3000/themas/1"} もっと詳しく
      .link.clearfix
        .facebook
        %i.fa.fa-facebook 
        .twitter
        %i.fa.fa-twitter
        .hatena
        %i.fa.fa-hatena

  .main__body
    .main__body--raw.clearfix
      .main__body--raw-box
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
        .main__body--raw-box-panel
          .main__body--raw-box-panel-firstName マクドナルド
          .main__body--raw-box-panel-vs vs
          .main__body--raw-box-panel-secondName スターバックス
          .main__body--raw-box-panel-firstName
          .main__body--raw-box-panel-secondName
          .main__body--raw-box-panel-firstChart 0
          .main__body--raw-box-panel-secondChart 0
    .pagination

  .main__footer
    .main__footer__header
      .main__footer__header--title お題を投稿する
    .main__footer__body
      .main__footer__body--title.clearfix ライバル関係にある２つの事柄を投稿してみてください
      .main__footer__body--posting.clearfix
      = form_for @thema do |f|
        .firstPosting
          = f.text_area :id
        .vs vs
        .secondPosting
          = f.text_area :id
        .submit
          = f.submit :投稿する,class: "submit__form"
    .main__footer--footer 投稿できるお題は各50文字以内です

%footer
  .footer__body
    %ul.nav.clearfix
      %li トップページ
      %li タイケツの楽しみ方
      %li 利用規約・免責事項
      %li お問い合わせ
      %li © TAIKETSU


